<h3 class="page_header">O planecie:</h3>

<h4>Czym jest planeta?</h4>
<p style="font-size: 10pt;">Planeta jest serwisem agregującym co lepsze blogi o tematyce okołolinuksowej (z naciskiem na Debiana). Na jednej stronie znajdziesz wpisy ze wszystkich serwisów, które obejmuje planeta.</p>

<h4 style="margin-top: 10px;">Jak dołączyć?</h4>
<p style="font-size: 10pt;">Jeżeli uznasz, że treść Twojego bloga pasuje do tematyki planety nie zastanawiaj się dłużej - wyślij maila do nas (namiary w dziale "Kontakt") z kilkoma podstawowymi informacjami: nick pod jakim chcesz się przedstawiać, url bloga i koniecznie adres odpowiedniego kanału RSS z którego mają być pobierane posty.</p>

