<h3 class="page_header">Kontakt:</h3>

<ul class="page_infos">
  <li><strong>E-mail:</strong> kontakt[mal]planetadebiana.pl || sebcioz[mal]gmail.com (administracja)</strong></li>
  <li><strong>Blip: </strong><a href="http://planetadebiana.blip.pl" alt="Planeta Debiana, linux, blip">^PlanetaDebiana</a></li>
</ul>
